form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

div {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
}

button {
  width: auto;
  margin-top: 20px;
}

span {
  color: red;
  font-size: 14px;
}
